<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>

<div id="acton-bar-buttons"></div>

<div id="helper-bar-buttons">
    <a data-control="popup" data-size="huge" data-handler="onRelationButtonCreate" href="javascript:;" class="btn btn-sm btn-secondary oc-icon-file">
        Create Items</a>
</div>


<div id="simpleList" class="list-group">
<?php foreach ( $this->getPageElements() as $value ) { ?>
    <div class="list-group-item"><?= $value->attributes['id'] ?></div>
<?php } ?>
</div>

<div class="process-modal control-popup modal fade" id="modalProcess">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <?=  form::ajax('newElement')  ?>

                <input type="text" value="0" name="template">

                <div class="form-buttons">
                    <div class="loading-indicator-container">
                        <button
                            type="submit"
                            data-hotkey="ctrl+s, cmd+s"
                            data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                            class="btn btn-primary">
                            <?= e(trans('backend::lang.form.create')) ?>
                        </button>
                    </div>
                </div>
                <?=  form::close() ?>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    Sortable.create(simpleList, { /* options */ });
    $('#modalProcess').modal();
</script>
