
<div>
    <div class="layout-cell site-form" >
        <?php if (!$this->fatalError): ?>

        <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-primary">
                    <?= e(trans('backend::lang.form.save')) ?>
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-default">
                    <?= e(trans('backend::lang.form.save_and_close')) ?>
                </button>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="<?= e(trans('backend::lang.form.deleting')) ?>"
                    data-request-confirm="<?= e(trans('backend::lang.form.confirm_delete')) ?>">
                </button>

                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url('nextlevels/cms/pagescontroller') ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
            </div>
        </div>
        <?= Form::close() ?>

        <?php else: ?>
        <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
        <p><a href="<?= Backend::url('nextlevels/cms/pagescontroller') ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
        <?php endif ?>
    </div>
    <div class="layout-cell" style="width: 50%;    float: left;">
        <iframe  class="site-preview"  src="https://nextlevels-october-cms.local/<?= $this->formGetModel()->slug ?>"></iframe>
    </div>
</div>

<style>
    .site-form{
        width: 50%;
        float: left;
        padding: 20px;
    }
    .site-preview{
        width: 100%;
        height:100vh;
        border: 0;
        border-left: 2px;
    }
    .layout >.layout-cell.layout-container{
        padding: 0;
    }
</style>
